{% extends "app1/layout.html" %}


{% block main %}
<div id='form'>

  {% if messages %}
  {% for message in messages %}
   <!-- {% if message.tags == 'error' %}
  <script>
    alert("Error Invalid Password")
  </script>
  {% endif %} -->
  <p style='color:red'>{{ message.tags }} : {{ message }}</p>
  {% endfor %}

  {% else %}
    <p style='color:red'>{{ error }}</p>
  {% endif %}
<form method="POST" action="/app1/login/">
  {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input name='email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name='password' type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <!--
        <div class="form-group">
                <label for="exampleFormControlSelect1">Course</label>
                <select class="form-control" id="exampleFormControlSelect1" name='course'>
                  <option value='python'>Python</option>
                  <option value='ds'>Data Science</option>
                  <option value='web'>Web Design</option>
                  <option value='linux'>Linux</option>
                  <option value='cloud'>Cloud</option>
                </select>
              </div>
            -->

              
        <button type="submit" class="btn btn-primary">Login</button>
        <a class="btn btn-primary" href="/app1/signup/" role="button">Signup</a>

    </form>
</div>

{% endblock %}





