<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'>
    {% block head %}

    {% endblock %}
</head>

<body>

    <div id='header'>
        <h1>Grras Solutions Pvt. Ltd, Jaipur</h1>
        {% block header %}

        {% endblock %}
    </div>


    <div id='left'>
        <hr>
        {% block left %}

        {% endblock %}
    </div>

    <div id='center'>
        <hr>
        {% block center %}

        {% endblock %}
    </div>


    <div id='right'>
        <hr>
        {% block right %}

        {% endblock %}
    </div>

    <div id='footer'>

        {% block footer %}

        {% endblock %}
        <h3>We love Listen From you</h3>
<h3>Contact Us at : </h3>
<ul>
    <li>Email: admin@grras.com</li>
    <li>Phone Number : 1234567890</li>
    <li>Address: 219-himmat nagar, Gopalpura mode, Jaipur</li>
</ul>

        
        <h2> All Rights Reserved at &copy; Grrras Solutions Pvt. Ltd, Jaipur since 2008 </h2>

    </div>

</body>


</html>