<!Doctype html>
<html lang='en-us'>

	<head>
		<title>Grras</title>
		<style>

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #cc0000;
  color: white;
  text-align: center;
}
.form {
  position: relative;
  left: 0;
  top: 100;
  width: 100%;
  text-align: center;
}

		
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #cc0000;
  color: white;
  text-align: center;
}

</style>

	</head>
	<body>
	<div class='header'>
		<h1 style='color:white;'><strong><b><i>Welcome to Grras Solutions PVT. Ltd. , Jaipur</i></b></strong></h1>
</div>
		<br /><br />
		
		
		<br /><br /><br /><br />
		<br /><br /><br /><br />
<div class='form'>
		
		{% block body %}

		{% endblock %}
</div>
		<center>
		<div class="footer">
 
		<footer><strong><p style='color:white'><b><i>&copy;Grras solutions PVT. LTD., Jaipur</i></b></p></strong></footer> 
		</div>
		</center>

	</body>
</html>
